.darkblue { 
    height: 957px;
    width: 22.857px;
    background-color: #4782BC;
    margin: auto;
}
.lightblue {
    height: 957px;
    width: 22.857px;
    background-color: #38A2D4 ;
    margin: auto;
}
.grey {
    height: 957px;
    width: 22.857px;
    background-color: #d5d2d2;
    margin: auto;
}
.salmon {
    height: 957px;
    width: 22.857px;
    background-color: #cf7261;
    margin: auto;
}
.navy {
    height: 957px;
    width: 22.857px;
    background-color: #242d3c;
    margin: auto;
}
.yellow {
    height: 957px;
    width: 22.857px;
    background-color: #c3861b;
    margin: auto;
}
